<li style="display: inline-block;width:96%;margin: 2%;max-width:320px;overflow: hidden;border: 1px solid #e3e3e3;padding: 5px;">
    <a href="{$url}" target="_blank" alt="{$title}">
        <img src="{$pic}" style="max-width:320px;">
    </a>
    <p style="height:10px;"><a href="{$url}" target="_blank" alt="{$title}">{$title}</a></p>
    <p style="height:10px;"><a href="{$url}" target="_blank" alt="{$title}" style="border:1px solid #f00;padding:2px 3px;background:#f00;color:#fff;text-decoration: none;">购买</a>&nbsp;&nbsp;<b style="color:red">现价：{$price}元</b>&nbsp;&nbsp;原价：<del>{$oldprice}元</del></p>
    <p style="height:10px;">30天销量：{$volume}&nbsp;[{$store}]</p>
</li>